include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
include TESTING.md
include pyproject.toml
recursive-include docs *.md
recursive-include tests *.py
